body{
    background-color: #bebebe;
}

.hero-image{
    background-image: url("./Te\ Puia\ Resources/20240626_111235.jpg") ;
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#9D2020;
}

.hero-text{
    color:#9d2020;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 100%;
    font-size: 6rem;
}

img{
    width: 100%;
    border-radius: 5px;
}

.two-colum{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 90%;
    margin:auto;
    margin-top: 40px;
}