body{
    background-color: #f3f2ea;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

/*------------------------------------*\
  #Hero image & other images
\*------------------------------------*/

.hero-image{
    background-image: url("./Te\ Puia\ Resources/20240626_111923.jpg") ;
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    color:#c0c8e4;
    position: absolute;
    text-align:center;
    top: 140px;
    width: 100%;
    font-size: 6rem;
}


img{
    width: 80%;
    border-radius: 5px;
}

/*------------------------------------*\
  #The navagation bar
\*------------------------------------*/

nav{
    background-color: #9b94c4
}

nav a {
    text-decoration: none;
    display: inline-block;
    width: 120px;
    padding: 15px 0px;
    font-weight: bold;
    text-align: center;
    color: #f3f2ea;
}

nav a:hover{
    background-color: #dbdbba;
    color: rgb(174, 160, 224);
}

nav a:active{
    background-color: #d1cfb9;
    color: #685bb4;
}

/*------------------------------------*\
  #The two colums
\*------------------------------------*/

.two-colum{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    width: 90%;
    height: 325px;
    margin:auto;
    margin-top: 130px;
    background-color: #c0c8e4;
}

/*------------------------------------*\
  #gap image
\*------------------------------------*/

.gap-image{
    background-image: url("./Te\ Puia\ Resources/20240626_111926.jpg") ;
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 250px;
}

.gap-text{
    text-align:center;
    color: #c0c8e4;
    font-size: 4rem;
}

/*------------------------------------*\
  #info cards
\*------------------------------------*/

.three-colum{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

.card{
    margin-left: 200px;
    background-color:#c0c8e4;
    width: 180px;;
}

.card-text{
    text-align: center;
    color:#f3f2ea;
}

.card-img{
    margin-top: 12px;
    margin-left: 18px;
}

.link{
    text-decoration: none;
    display: inline-block;
    width: 120px;
    padding: 15px 0px;
    font-weight: bold;
    text-align: center;
    color: #f3f2ea;
    margin-left: 32px;
}

.link:hover{
    color: #8162bb;
}

.image{
    width: 541px;
}

.contact-info{
    font-size:larger;
    color: #c0c8e4;
    margin-top: 20px;
    margin-bottom: 310px;
}




.footer{
    color:#f3f2ea;
    background-color: #c0c8e4;
    padding-top: 30px;
    padding-bottom: 30px;
}