body{
    background-color: #f3f2ea;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.hero-image{
    background-image: url("./Te\ Puia\ Resources/20240626_111923.jpg") ;
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    color:#150089;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 100%;
    font-size: 6rem;
}

img{
    width: 80%;
    border-radius: 5px;
}

nav{
    background-color: #f1efe0
}

nav a {
    text-decoration: none;
    display: inline-block;
    width: 120px;
    padding: 15px 0px;
    font-weight: bold;
    text-align: center;
    color: #150089;
}

nav a:hover{
    background-color: #dbdbba;
    color: rgb(28, 54, 172);
}

nav a:active{
    background-color: #d1cfb9;
    color: #503dbb;
}

.two-colum{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    width: 90%;
    height: 325px;
    margin:auto;
    margin-top: 130px;
}

.gap-image{
    background-image: url("./Te\ Puia\ Resources/20240626_111926.jpg") ;
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 250px;
}

.gap-text{
    text-align:center;
    color: #150089;
    font-size: 4rem;
}

.three-colum{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

.card{
    background-color:#dce1f3;
    width: 180px;;
}

.card-text{
    text-align: center;
    color:#f3f2ea;
}